<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Analyze Page</title>
  <link rel="stylesheet" href="analyze.css" />

  <script src="/script.js" defer></script>
</head>
<body>
  <nav class="navbar">
    <h1>ANALYZE</h1>
  </nav>

<div class="container">
      <form id="createForm">
        <label for="title">Title</label>
        <input type="text" name="title" required>

        <label for="readingLevel">Reading Level</label>
        <input type="number" name="readingLevel" required>

        <label for="link">Link</label>
        <input type="text" name="link" required>

        <label for="text">Text</label>
        <input type="text" name="text" required>

        <button type="submit">Add Article</button>
      </form>
    </div>

  <div class="container">
    <div class="main-content">
      <label for="linkInput">LINK</label>
      <input type="text" id="linkInput" placeholder="Insert link" />

      <label for="readingLevel">Reading Level</label>
      <input type="text" id="readingLevel" placeholder="e.g. Grade 8" />

      <button id="simplifyBtn">Simplify</button>
    </div>

    <div class="sidebar">
      <h3>Goes into ChatGPT</h3>
      <div class="chat-box">
        <p>Text...</p>
        <p>Text...</p>
        <p>Text...</p>
      </div>
    </div>
  </div>
</body>
</html>
